<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expensemanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/expense"
        android:logo="@drawable/expense"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <activity
            android:name="com.example.expensemanager.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.expensemanager.Activitymain"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name="com.example.expensemanager.Viewdb"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name="com.example.expensemanager.Showresult"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name="com.example.expensemanager.Add"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name="com.example.expensemanager.EditData"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name="com.example.expensemanager.Bycat"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name="com.example.expensemanager.Monthwise"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name="com.example.expensemanager.Aboutus"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.expensemanager.Sampletotalmonth"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>
    </application>

</manifest>
